* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
}
.container {
    max-width: 2560px;
    min-width: 100%;
}
@import "variables";
// FUENTES 
@font-face {
    font-family: "Subtitulo";
    src: url(../fonts/Tipografia-sub.ttf);
}
@font-face {
    font-family: "parrafo";
    src: url(../fonts/tipografia-p.ttf);
}
@font-face {
    font-family: "footer";
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
// HEADER
.header {
    min-height: 150px;
    transition: 1s;
    min-width: 100%;
    &:hover {
        transform: scale(01.05);
    }
}
// NAVEGADOR
.navbar{
    min-width: 100%;
    grid-area: navbar;
    .navbar-nav, .mr-auto {
        flex: 1;  
        a{
            font-size: 18px;
            font-family: subtitulo;
            .nav-item{
                margin: 0px 15px 0px 15px;
            }
        }
    }
}    
// MAIN
.main {
    grid-area: main;
    margin: 0px;
}
.subtitulo {
    @include font(subtitulo, 50px);
    color: red;   
}
.bloque-subtitulo {
    background-color: #EEEE;
}
.lead {
    @include font(subtitulo, 24px); 
}
.parrafo-inicio {
    @include font(footer, 16px);
}
.tarjeta-inicio {    
    border: solid 10px black;
    padding: 0px;
}
.parrafo-nosotros {
    @include font(footer, 16px); 
}
// ASIDE
.aside {
    grid-area: aside;
    background-image: url("../img/autos/textura-bandera.jpg");
    background-repeat: repeat-y;
    background-position-x: left;
}
.aside2 {
    grid-area: aside2;
    background-image: url("../img/autos/textura-bandera.jpg");
    background-repeat: repeat-y;
    background-position-x: right;    
}
// FOOTER 
.footer {
    min-height: 100px;
    padding: 20px;
    min-width: 320px;
    background-color: black;  
}
.txt-footer {
    color: #9b9d9e;
    @include font(footer, 18px); 
}
.redes {
    transition: 0.5s;
    &:hover {
        transform:scale(01.25);
    }
}
// GRIDS
.container {
    display: grid;
    grid-template-columns: 103.65px auto auto 103.65px;
    grid-template-areas: "aside main main aside2";
    padding: 0%;
    margin: 0%;   
}
// CARD
.card {
    border-radius: 15px;
    border-width: 3px;
    border-color: black;
}
.card-title {
    @include font(subtitulo, 24px);    
}
.card-text {
    @include font(footer, 16px);                     
}  
.button {
    font-family: map-get($btn , font-family);
    font-size:  map-get($btn , font-size); 
    text-decoration:  map-get($btn , text-decoration);
    border:  map-get($btn , border);
    border-radius:  map-get($btn , border-radius);
    background-color:  map-get($btn , background-color);
    color:  map-get($btn , color);
    border-width:  map-get($btn , border-width);
    transition: map-get($btn , transition);
    padding: map-get($btn , padding);
    &:hover {            
        color:black;
        background-color: #9b9d9e;
    }
}
// FORMS
.contacto {
    padding: 0;
    margin: 0;
}
// RESPONSIVE
@media (max-width: 1200px) {
    .aside {
        display: none;
    }
    .aside2 {
        display: none;
    }
    .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-areas: "main main main main";
        padding: 0%;
        margin: 0%;       
    }  
}
@each $key, $var in $colores {

    .fondo-#{$key}{
        background-color: $var;
    }
}    



