* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: none;
}
.container {
    max-width: 2560px;
    min-width: 100%;
}


@import "variables";


// FUENTES 
@font-face {
    font-family: "Subtitulo";
    src: url(../fonts/Tipografia-sub.ttf);
}
@font-face {
    font-family: "Titulo";
    src: url(../fonts/coolvetica-rg.otf);
}
@font-face {
    font-family: "parrafo";
    src: url(../fonts/tipografia-p.ttf);
}
@font-face {
    font-family: "footer";
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

// HEADER
.header {
    min-height: 150px;
    max-width: 100%; 
}
.logo {
    width: 17%;
    margin-bottom: -50px;
    min-width: 250px;
}

// NAVEGADOR
.navbar{
    min-width: 100%;
    grid-area: navbar;
    .navbar-nav, .mr-auto {
        flex: 1;  
        a{
            font-size: 18px;
            font-family: subtitulo;
            .nav-item{
                margin: 0px 15px 0px 15px;
            }
        }
    }
}    

.row {
    margin-left: 0px;
    margin-right: 0px;
}
// MAIN
.main {
    grid-area: main;
    margin: 0px;
}
.contenedor-tarjeta-desktop {
    border: 2px solid black;
    .fecha {

        .dia-fecha {
            margin-bottom: -30px;
            font-size: 70px;
        }
        .mes-fecha {
            font-weight: 300;
            line-height: 60px;
            text-transform: uppercase;
            font-size: 30px;
        }    
    }
    .linea {
        border-top: 3px solid black;
        max-width: 120px;
        padding: 0;
        transform: rotate( -65deg);
    }
    .boton-eventos {
        text-decoration: none;
        color: black;
        border: 2px solid black;
        transition: 0.2s;
        @include font(footer, 18px);
        &:hover {
            background-color: black;
            color: white;
        }
    }
}
.contenedor-tarjeta-mobile {
    border: 1px solid black;
    .fecha-mobile {
        .dia-mobile {
            margin-bottom: -30px;
            font-size: 70px;
        }
        .mes-mobile {
            font-weight: 300;
            line-height: 60px;
            text-transform: uppercase;
            font-size: 30px;
        }    
    }
    .linea {
        border-top: 2px solid black;
        max-width: auto;
        padding: 0;
    }
    .linea-mobile {
        border-top: 1px solid black;
        height: 2px;
        max-width: 200px;
        padding: 0;
        margin: 20px auto 0 auto;
    }
    .boton-eventos-mobile {
        text-decoration: none;
        color: black;
        border: 1px solid black;
        padding: 10px 50px;        
    }
}

h1, h2, h3 {
    font-family: Titulo !important;
    letter-spacing: 2px;
}
.subtitulo {
    @include font(subtitulo, 50px);
    color: red;   
}
.lead {
    @include font(subtitulo, 24px); 
}
.parrafo-inicio {
    @include font(footer, 16px);
}
.tarjeta-galeria {    
    border: solid 10px black;
    padding: 0px;
}
.tarjeta-inicio {
    @extend .tarjeta-galeria;
    border-radius: 15px 0px 15px 0px;
}
.parrafo-nosotros {
    @include font(footer, 16px); 
}
// ASIDE
.aside {
    grid-area: aside;
    background-image: url("../img/autos/textura-bandera.jpg");
    background-repeat: repeat-y;
    background-position-x: left;
}
.aside2 {
    grid-area: aside2;
    background-image: url("../img/autos/textura-bandera.jpg");
    background-repeat: repeat-y;
    background-position-x: right;    
}
// FOOTER 
.footer {
    min-height: 100px;
    padding: 20px;
    min-width: 320px;
    background-color: black;  
}
.txt-footer {
    color: #9b9d9e;
    @include font(footer, 18px); 
}
.redes {
    transition: 0.5s;
    &:hover {
        transform:scale(01.25);
    }
}
// GRIDS
.container {
    display: grid;
    grid-template-columns: 100px auto auto 100px;
    grid-template-areas: "aside main main aside2";
    padding: 0%;
    margin: 0%;   
}
// CARD
.card {
    border-radius: 15px;
    border-width: 1px;
    border-color: black;
}
.card-title {
    @include font(subtitulo, 24px);    
}
.card-text {
    @include font(footer, 16px);                     
}  
.button {
    font-family: map-get($btn , font-family);
    font-size:  map-get($btn , font-size); 
    text-decoration:  map-get($btn , text-decoration);
    border:  map-get($btn , border);
    border-radius:  map-get($btn , border-radius);
    background-color:  map-get($btn , background-color);
    color:  map-get($btn , color);
    border-width:  map-get($btn , border-width);
    transition: map-get($btn , transition);
    padding: map-get($btn , padding);
    &:hover {            
        &:hover {
            background-color: black;
            color: white;
        }
    }
}
// FORMS
.contacto {
    padding: 0;
    margin: 0;
}
// RESPONSIVE



@media (max-width: 880px) {
    .contenedor-tarjeta-desktop {
        display: none !important;
    }
    .logo {
        max-width: 25%;
    }
}
@media (min-width: 880px) {
    .contenedor-tarjeta-mobile {
        display: none !important;
    }
}
@media (max-width: 1200px) {
    .logo {
        width: 40%;
    }
    .aside {
        display: none;
    }
    .aside2 {
        display: none;
    }
    .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-areas: "main main main main";
        padding: 0%;
        margin: 0%;       
    }  
}
@each $key, $var in $colores {

    .fondo-#{$key}{
        background-color: $var;
    }
}

.prod-img {
    max-width: 100%;
}
.prod-img-carrito{
    width: 180px;
}
.boton-eliminar {
    border: #000000 solid 1px;
    border-radius: 5px;
    background-color: white;
    font-family: "footer";
    &:hover{
        border: white solid 1px;
        background-color: black;
        color: white;
    }
}
.modal-dialog{
    background-color: white;
}
.modal{
    --bs-modal-width: 800px;
}

.modal-dialog{
    --bs-modal-width: 80%;
    
}

.modal-content{
    border: solid 1px white;
    border-radius: 0%;
    --bs-modal-bg: black;
}

.carrito-img {
    width: 50px;
}
.side-social {
    width: 130px;
    position: fixed;
    height: 150px;
    top: 30%;
    background-color: #000000;
    right: -100px;
    padding: 10px 3px;
    transition: 0.7s;
    border-radius: 10px 0px 0px 10px;
}
.side-social:hover {
    right: 0px;
}
@font-face {
    font-family: "titulos";
    src: url(../fonts/Kanit-Bold.ttf);
}
@font-face {
    font-family: "titulos-2";
    src: url(../fonts/Aileron-SemiBold.otf);
}
.flecha {
    width: 64px;
    margin-left: 5px;
    margin-top: 30px;
}
.carrito-side {
    position: fixed;
    bottom: 50%;
    right: 150px;
}

.modal-titulo{
    font-family: "subtitulo";
    font-size: 24px;
}
.btn-ok-modal{
    background-color: #000000;
}
.button {
    font-size: 16px;
    text-decoration: none;
    border: solid 1px black;
    border-radius: 15px;
    background-color: white;
    color: black;
    border-width: 1px;
    transition: 0.2s;
    padding: 5px;
}
.button:hover:hover {
    background-color: black;
    color: white;
}
.btn-ofertas{
    background-color: white;
    border: 1px solid black;
    font-family: footer;
    &:hover{
        background-color: #000000;
        color: white;
    }
}
.form-control:focus {
    color: black;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow: none; 
}
  .card-title {
    
    font-size: 24px;
  }
  
  .card-text {
    
    font-size: 16px;
  }
