* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: none;
}

.container {
  max-width: 2560px;
  min-width: 100%;
}

@font-face {
  font-family: "Subtitulo";
  src: url(../fonts/Tipografia-sub.ttf);
}
@font-face {
  font-family: "Titulo";
  src: url(../fonts/coolvetica-rg.otf);
}
@font-face {
  font-family: "parrafo";
  src: url(../fonts/tipografia-p.ttf);
}
@font-face {
  font-family: "footer";
  src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
.header {
  min-height: 150px;
  max-width: 100%;
}

.logo {
  width: 17%;
  margin-bottom: -50px;
  min-width: 250px;
}

.navbar {
  min-width: 100%;
  grid-area: navbar;
}
.navbar .navbar-nav, .navbar .mr-auto {
  flex: 1;
}
.navbar .navbar-nav a, .navbar .mr-auto a {
  font-size: 18px;
  font-family: subtitulo;
}
.navbar .navbar-nav a .nav-item, .navbar .mr-auto a .nav-item {
  margin: 0px 15px 0px 15px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.main {
  grid-area: main;
  margin: 0px;
}

.contenedor-tarjeta-desktop {
  border: 2px solid black;
}
.contenedor-tarjeta-desktop .fecha .dia-fecha {
  margin-bottom: -30px;
  font-size: 70px;
}
.contenedor-tarjeta-desktop .fecha .mes-fecha {
  font-weight: 300;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 30px;
}
.contenedor-tarjeta-desktop .linea {
  border-top: 3px solid black;
  max-width: 120px;
  padding: 0;
  transform: rotate(-65deg);
}
.contenedor-tarjeta-desktop .boton-eventos {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  transition: 0.2s;
  font-family: footer;
  font-size: 18px;
}
.contenedor-tarjeta-desktop .boton-eventos:hover {
  background-color: black;
  color: white;
}

.contenedor-tarjeta-mobile {
  border: 1px solid black;
}
.contenedor-tarjeta-mobile .fecha-mobile .dia-mobile {
  margin-bottom: -30px;
  font-size: 70px;
}
.contenedor-tarjeta-mobile .fecha-mobile .mes-mobile {
  font-weight: 300;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 30px;
}
.contenedor-tarjeta-mobile .linea {
  border-top: 2px solid black;
  max-width: auto;
  padding: 0;
}
.contenedor-tarjeta-mobile .linea-mobile {
  border-top: 1px solid black;
  height: 2px;
  max-width: 200px;
  padding: 0;
  margin: 20px auto 0 auto;
}
.contenedor-tarjeta-mobile .boton-eventos-mobile {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px 50px;
}

h1, h2, h3 {
  font-family: Titulo !important;
  letter-spacing: 2px;
}

.subtitulo {
  font-family: subtitulo;
  font-size: 50px;
  color: red;
}

.lead {
  font-family: subtitulo;
  font-size: 24px;
}

.parrafo-inicio {
  font-family: footer;
  font-size: 16px;
}

.tarjeta-galeria, .tarjeta-inicio {
  border: solid 10px black;
  padding: 0px;
}

.tarjeta-inicio {
  border-radius: 15px 0px 15px 0px;
}

.parrafo-nosotros {
  font-family: footer;
  font-size: 16px;
}

.aside {
  grid-area: aside;
  background-image: url("../img/autos/textura-bandera.jpg");
  background-repeat: repeat-y;
  background-position-x: left;
}

.aside2 {
  grid-area: aside2;
  background-image: url("../img/autos/textura-bandera.jpg");
  background-repeat: repeat-y;
  background-position-x: right;
}

.footer {
  min-height: 100px;
  padding: 20px;
  min-width: 320px;
  background-color: black;
}

.txt-footer {
  color: #9b9d9e;
  font-family: footer;
  font-size: 18px;
}

.redes {
  transition: 0.5s;
}
.redes:hover {
  transform: scale(1.25);
}

.container {
  display: grid;
  grid-template-columns: 100px auto auto 100px;
  grid-template-areas: "aside main main aside2";
  padding: 0%;
  margin: 0%;
}

.card {
  border-radius: 15px;
  border-width: 1px;
  border-color: black;
}

.card-title {
  font-family: subtitulo;
  font-size: 24px;
}

.card-text {
  font-family: footer;
  font-size: 16px;
}

.button {
  font-family: "footer";
  font-size: 16px;
  text-decoration: none;
  border: solid 1px black;
  border-radius: 15px;
  background-color: white;
  color: black;
  border-width: 1px;
  transition: 0.2s;
  padding: 5px;
}
.button:hover:hover {
  background-color: black;
  color: white;
}

.contacto {
  padding: 0;
  margin: 0;
}

@media (max-width: 880px) {
  .contenedor-tarjeta-desktop {
    display: none !important;
  }
  .logo {
    max-width: 25%;
  }
}
@media (min-width: 880px) {
  .contenedor-tarjeta-mobile {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  .logo {
    width: 40%;
  }
  .aside {
    display: none;
  }
  .aside2 {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "main main main main";
    padding: 0%;
    margin: 0%;
  }
}
.fondo-primario {
  background-color: rgb(255, 255, 255);
}

.fondo-secundario {
  background-color: rgb(0, 0, 0);
}

.fondo-terciario {
  background-color: rgba(238, 238, 238, 0.9333333333);
}/*# sourceMappingURL=style.css.map */